.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 1600px;
  height: 1298px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.desktop1-logo-solit {
  top: 10px;
  left: 480px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.desktop1-link {
  display: contents;
}
.desktop1-rectangle1button {
  top: 604px;
  left: 0px;
  right: 0px;
  width: 678px;
  height: 58px;
  margin: auto;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-decoration: none;
}
.desktop1-link1 {
  display: contents;
}
.desktop1-rectangle2button {
  top: 687px;
  left: 0px;
  right: 0px;
  width: 678px;
  height: 58px;
  margin: auto;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-decoration: none;
}
.desktop1-link2 {
  display: contents;
}
.desktop1-rectangle3button {
  top: 770px;
  left: 0px;
  right: 0px;
  width: 678px;
  height: 58px;
  margin: auto;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-decoration: none;
}
.desktop1-link3 {
  display: contents;
}
.desktop1-rectangle4button {
  top: 853px;
  left: 0px;
  right: 0px;
  width: 678px;
  height: 58px;
  margin: auto;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-decoration: none;
}
.desktop1-link4 {
  display: contents;
}
.desktop1-rectangle6button {
  top: 1019px;
  left: 0px;
  right: 0px;
  width: 678px;
  height: 58px;
  margin: auto;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-decoration: none;
}
.desktop1-link5 {
  display: contents;
}
.desktop1-rectangle7button {
  top: 1102px;
  left: 0px;
  right: 0px;
  width: 678px;
  height: 58px;
  margin: auto;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-decoration: none;
}
.desktop1-rectangle8button {
  top: 1185px;
  left: 0px;
  right: 0px;
  width: 678px;
  height: 58px;
  margin: auto;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.desktop1-facebook1 {
  top: 1024px;
  left: 476px;
  width: 51px;
  height: 50px;
  position: absolute;
}
.desktop1-instagram1 {
  top: 859px;
  left: 477px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.desktop1-tiktok1 {
  top: 775px;
  left: 476px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.desktop1-shopee1 {
  top: 692px;
  left: 477px;
  width: 48px;
  height: 50px;
  position: absolute;
}
.desktop1-tokopedia1 {
  top: 609px;
  left: 477px;
  width: 45px;
  height: 50px;
  position: absolute;
}
.desktop1-home1 {
  top: 20px;
  left: 260px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.desktop1-text {
  top: 31px;
  left: 332px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-maps1 {
  left: 477px;
  width: 50px;
  bottom: 141px;
  height: 51px;
  position: absolute;
}
.desktop1-telegram1 {
  left: 475px;
  width: 50px;
  bottom: 59px;
  height: 50px;
  position: absolute;
}
.desktop1-text02 {
  top: 31px;
  left: 570px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text04 {
  top: 613px;
  left: 721px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text06 {
  top: 696px;
  left: 743px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text08 {
  top: 779px;
  left: 753px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text10 {
  top: 1028px;
  left: 726px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text12 {
  left: 750px;
  color: rgba(0, 0, 0, 1);
  bottom: 148px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text14 {
  left: 728px;
  color: rgba(0, 0, 0, 1);
  bottom: 65px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text16 {
  top: 862px;
  left: 722px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle9 {
  top: 110px;
  left: 0px;
  right: 0px;
  width: 1107px;
  height: 440px;
  margin: auto;
  position: absolute;
  border-radius: 10px;
}
.desktop1-logo-solit1 {
  top: 180px;
  left: 947px;
  width: 270px;
  height: 270px;
  position: absolute;
}
.desktop1-text18 {
  top: 173px;
  left: 292px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text20 {
  top: 210px;
  left: 288px;
  color: rgb(0, 0, 0);
  width: 674px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text21 {
  top: 325px;
  left: 287px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text22 {
  top: 438px;
  left: 319px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text23 {
  color: rgba(0, 0, 0, 1);
}
.desktop1-text24 {
  color: rgba(255, 161, 21, 1);
}
.desktop1-text25 {
  color: rgba(0, 0, 0, 1);
}
.desktop1-link6 {
  display: contents;
}
.desktop1-rectangle6button1 {
  top: 936px;
  left: 0px;
  right: 0px;
  width: 678px;
  height: 58px;
  margin: auto;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-decoration: none;
}
.desktop1-whatsapp1 {
  top: 941px;
  left: 477px;
  width: 53px;
  height: 50px;
  position: absolute;
}
.desktop1-text27 {
  top: 945px;
  left: 723px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
