:root {
    --primary: #b6895b;
    --bg1:  #010101;
    --blue: #2024ff;
    --bluewhite: #0084ff;
    --bg: #66b5ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth   ;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    /* min-height: 5000px; */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #684e33;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--blue);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--bluewhite);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--blue);
    transform: scaleX(0);
    transition: 0.2 linear ;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;

}

.navbar .navbar-extra a:hover {
    color: var(--bluewhite);
}

#hamburger-menu {
    display: none;
}

/* Navbar search form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--bg1);
    padding: 1rem;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg1);
}

/* Shopping Cart */
.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 35rem;
    padding: 0 1.5rem;
    background-color: #fff;
    color: var(--bluewhite);
    transition: 0.3s;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
    position: relative;
}

.shopping-cart img {
    height: 6rem;
}

.shopping-cart h3 {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
    font-size: 1.2rem;
}

.shopping-cart .remove-item {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.shopping-cart .remove-item:hover {
color: var(--bluewhite);
}


/* Dropdown Button */
.dropdown .dropbtn {
    background-color: #3498DB;
    
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } 
  
.dropdown .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } 

  .dropdown .dropbtn img {
    justify-content: center;
    align-items: center;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  } 
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.show {display:block;}


/* Hero Section */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/slider/laptopit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0,0,0,0));
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0,0,0,0));
}

/* .hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;0
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(102, 181, 255, 0.788) 8%, rgba(255,255,255,0) 50%);   
} */

.hero .content {
    padding: 1.4rem 7%;
    /* max-width: 60rem; */
    width: 100%;
    text-align: center;
    position: fixed;
    top: 100px;
}

.hero .content h1{
    font-size: 6.2rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--bluewhite);
}

.hero .content p {
    font-size: 2.2rem;
    font-family: 'Arial', Courier, monospace;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff ;
    background-color: var(--bluewhite);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Home Section */
.home {
    padding: 7rem 10% 1.8rem ;
    background-color: #77d6f8;
    background-repeat: no-repeat;
}

.home .row {
    display: flex;
}

.home .row .home-img {
    flex: 1 1 45rem;
}

.home .row .home-img img {
    width: 90% ;
}

.home .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.home .row .content h1 {
    font-size: 2.5rem;
    color: #000;
    line-height: 1.2;
}

.home .row .content p {
    margin-bottom: 2rem;
    font-family: 'Arial', Courier, monospace;
    font-size: 1.7rem;
    font-weight: 100;
    line-height: 1.6;
    color: #000000;
    align-content: center;
}

/* Home 2 Section */
.home2 {
    padding: 7rem 10% 1.8rem ;
    background-repeat: no-repeat;
}
.home2 .row {
    display: flex;
}

.home2 .row .persegi-pnjg {
    width: 50px;
    height: 600px;
    background-color: var(--blue);
    /* flex: 1 1 35rem; */
    padding: 0 1rem;
    flex: 1 1 35rem;
    border-radius: 2%;
    border: 1px solid #666;
}

.home2 .row .persegi-pnjg h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.home2 .row .persegi-pnjg p {
    margin-bottom: 0.8rem;
    font-family: 'Arial', Courier, monospace;
    font-size: 1.7rem;
    font-weight: 100;
    line-height: 1.35;
}

.home2 .row .home2-img {
    flex: 1 1 40rem;
}

.home2 .row .home2-img img {
    width: 90%;
    height: 65%;
    margin: 1rem;
    border-radius: 2%;
}

/* About Section */
.about,
.menu,
.products,
.contact {
    padding: 7rem 7% 1.4rem;
}

.about h2, 
.menu h2,
.products h2,
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span {
    color: var(--blue);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 80%;    
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-family: 'Arial', Courier, monospace;
    font-size: 1.7rem;
    font-weight: 120;
    line-height: 1.6;
    color: #000000;
}

/* About 2 Section */
.about2 {
    padding: 4rem 2% 1.4rem;
}

.about2 .row {
    display: flex;
}

.about2 .row .content {
    flex: 1 1 35rem;
    padding: 0 5rem;
    background-color: #245ea1 ;
    border-color: #3e41f7;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-style: inset;   
}

.about2 .row .content p {
    margin-bottom: 0.8rem;
    font-family: 'Arial', Courier, monospace;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.6;
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
}

/* About 3 Section */
.about3 {
    padding: 7rem 7% 1.4rem;
}

.about3 h2{
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem; 
}

.about3 .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem ;
    justify-content: center;
}

.about3 .row .gallery-card { 
    padding-bottom: 2rem;
    text-align: center;
    margin-right: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
    margin-bottom: 2rem;
}

.about3 .row .gallery-card:hover {
    border: 1px solid #777;
}

.about3 .row .gallery-card .gallery-card-title {
    margin-top: 2rem auto 2rem;
    font-size: 1.5rem;
}


/* Menu Section */
.menu h2,
.contact h2 {
    margin-bottom: 1rem;
}

.menu p,
.contact p {
    color: #000000;
    font-size: 1.6rem;
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-family: 'Arial', Courier, monospace;
    font-weight: 100;
    line-height: 1.6;
}


.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem ;
    justify-content: center;
}

.menu .row .menu-card {
    padding-bottom: 4rem;
    text-align: center;
}

.menu .row .menu-card img {
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.menu .row .menu-card .menu-card-title {
    margin-top: 2rem auto 0.5rem;
    font-size: 1.6rem;
}


/* Products Section */
.products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1.5rem;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.products p {
    color: #000000;
    font-family: 'Arial', Courier, monospace;
    font-size: 1.4rem;
    text-align: center;
    max-width: 40rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.products .product-card {
    text-align: center;
    border: 1px solid #666;
    padding: 1rem;
    border-radius: 10%;
    cursor: pointer;
    box-sizing: border-box;
    float: left;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #66b5ff;
}   

.products .product-card:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.products .product-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.products .product-icons a {
    width: 4rem;
    height: 4rem;
    color: #fff;
    margin: 0.3rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .product-icons a:hover {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

.products .product-image {
    padding: 1rem 0;
}

.products .product-image img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.products .product-content h3 {
    font-size: 1.7rem;
}

.products .product-stars {
    font-size: 1.6rem;
    padding: 0.8rem;
    color: var(--blue);
}

.products .product-price {
    font-size: 1.4rem;
    font-weight: bold;
}

.products .product-price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1rem;
}


/* Contact Section */
.contact .row {
    display: flex;
    margin-top: 2rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
    height: 30rem;
}

.contact .row .wrapper {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row .wrapper a {
    text-decoration: none;
}

.contact .row .wrapper .fancy-button {
    display: inline-block;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.contact .row .wrapper .fancy-button::before {
    content: "";
    display: inline-block;
    height: 40px;
    position: absolute;
    bottom: -5px;
    left: 30px;
    right: 30px;
    z-index: -1;
    border-radius: 30em;
    filter: blur(20px) brightness(0.95);
}

.contact .row .wrapper .bg-gradient-1 span,
.bg-gradient-1::before {
    background: #52a0fd;
    color: #000;
}

.contact .row .wrapper .bg-gradient-1 span:hover {
    color: #32CD32;
}


.contact .row .wrapper .bg-gradient-2 span,
.bg-gradient-2::before {
    background: #52a0fd;
    color: #000;
}

.contact .row .wrapper .bg-gradient-2 span:hover {
    color: 	#FF4500;
}

.contact .row .wrapper .bg-gradient-3 span,
.bg-gradient-3::before {
    background: #52a0fd;
    color: #000;
}

.contact .row .wrapper .bg-gradient-3 span:hover {
    color: #00FF00;
}

.contact .row .wrapper .fancy-button span {
    display: flex;
    padding: 15px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    margin: 0.1rem;
}

.contact .row .wrapper img {
    height: 34px;
    width: 34px;
}

/* .contact .row form .button-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bluewhite);
    border: 1px solit #eee;
    padding-left: 2rem;
}

.contact .row form .button-group .tombol {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
    align-content: center;
} */

/* .contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--blue);
    cursor: pointer;
} */


/* Footer */
footer {
    background-color: var(--bluewhite);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    margin: 1rem;
    height: 24px;
    width: 24px;
}

footer .socials a:hover {
    color: var(--bg);
}

footer .links a:hover {
    color: var(--bg); 
}

footer .socials img {
    height: 24px;
    width: 24px;
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
}

footer .credit {
    font-size: 1.4rem;
    color: #fff;
}

footer .credit a {
    font-weight: 700;
    color: #2024ff;
}

/* Modal Box */
/* Item Detail */
.modal,
.modal2,
.modal3,
.modal4,
.modal5,
.modal6,
.modal7,
.modal8,
.modal9,
.modal10,
.modal11,
.modal12,
.modal13,
.modal14,
.modal15 {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
    position: relative;
    background-color: #fefefe;
    color: var(--bg);
    margin: 15% auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width: 85%;
    height: 90%;
    animation: animateModal 0.5s;
    border-bottom-right-radius: 5%;
}

/* Modal Animation */
@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.modal-container 
.close-icon,
.close-icon2,
.close-icon3,
.close-icon4,
.close-icon5,
.close-icon6,
.close-icon7,
.close-icon8,
.close-icon9,
.close-icon10,
.close-icon11,
.close-icon12,
.close-icon13,
.close-icon14,
.close-icon15 {
    position: absolute;
    right: 1rem;
}

.modal-content {
    display: flex;
    flex-wrap: nowrap;
}

.modal-content img {
    height: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.modal-content p {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-top: 1.2rem;
}

.modal-content a {
    display: flex;
    gap: 1rem;
    width: 12rem;
    background-color: var(--bluewhite);
    color: #fff;
    margin-top: 1rem;
    padding: 1rem 1.6rem;
}

.product-content .product-price {
    font-size: 1.5rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 70%;
    }


}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff ;
        width: 30rem;
        height: 100vh; 
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform:scaleX(0.2);
    }

    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }

    /* Queries Home */
    .home .row {
        flex-wrap: wrap;
    }

    .home .row .home-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .home .row .content {
        padding: 0;
    }

    .home .row .content h1 {
        margin-top: 1rem;
        font-size: 3.5rem;   
    }

    .home .row .content p {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;   
    }

    .about .row .content p {
        font-size: 1.6rem;
    }

    .menu p {
        font-size: 1.6rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }

    .modal-content {
        flex-wrap: wrap;
    }
}

/* Mobile */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .modal-container {
        height: 100%; 
    }

    .about3 .row .gallery img {
        width: 60%;
    }
}